.App {
  text-align: center;
  height: 100vh;
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
}

.container {
  position: relative;
  width: 899px;
  height: 2021px;
  left: 280px;
  top: 37px;
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
}
h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
}

.winnerContainer {
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  margin: auto;
}

.runnerContainer {
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  margin: auto;
}

.winnerTitle {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  width: 375px;
  height: 60px;
  margin: auto;
}

.winnerImage {
  /* position: absolute; */
  width: 413px;
  height: 304px;
  left: 513px;
  top: 342px;
}

.label {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  display: flex;
  align-items: center;
  align-content: space-between;
}

.runnerImage {
  width: 450px;
  height: 450px;
}
